<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/']"><span>Home</span></a>
    <a *ngIf="!(auth.loggedIn | async)" [routerLink]="['/login']"><span>Login</span></a>
    <a *ngIf="(auth.loggedIn | async)" style="cursor: pointer; text-decoration: underline" (click)="onClickLogout()"><span>Logout</span></a>
    <a *ngIf="(auth.loggedIn | async)" [routerLink]="['/signup']"><span>Register</span></a>
    <span class="toolbar-spacer"></span>
    <span>{{username}}</span>
  </mat-toolbar-row>
</mat-toolbar>
   
   
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  