<div fxLayout="column" class="table-responsive" fxLayoutAlign="space-around" fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="20px">
    <mat-form-field fxFlex>
      <mat-label>Group Name</mat-label>
      <mat-select [(ngModel)]="group">
        <mat-option value=""></mat-option>
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let group of groups" [value]="group.GroupName">
          {{group.GroupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <button fxFlex mat-raised-button color="primary" (click)="User()">Get Cognito User Info</button>
  </div>

  <h2 class="list-title">User Information</h2>
  <div class="mat-elevation-z8 list-table">

      <mat-table #table [dataSource]="users">
      <ng-container matColumnDef="No">
        <mat-header-cell *matHeaderCellDef [ngClass]="'veryShortCell'">No</mat-header-cell>
        <mat-cell *matCellDef="let user;let i = index" [ngClass]="'veryShortCell'" > {{i + 1}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Username}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Attributes[2].Value}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Enable">
        <mat-header-cell *matHeaderCellDef [ngClass]="'shortCell'">Enable</mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'shortCell'"> {{user.Attributes[1].Value}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef [ngClass]="'middleCell'">Status</mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'middleCell'"> {{user.UserStatus}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Group">
        <mat-header-cell *matHeaderCellDef [ngClass]="'shortCell'">Group</mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'shortCell'"> {{user.GroupName}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="CreatedDate">
        <mat-header-cell *matHeaderCellDef [ngClass]="'middleCell'">Created Date(UTC)</mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'middleCell'"> {{user.UserCreateDate | date:"yyyy/MM/dd HH:mm:ss" }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="UpdatedDate">
        <mat-header-cell *matHeaderCellDef [ngClass]="'middleCell'">Updated Date(UTC)</mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'middleCell'"> {{user.UserLastModifiedDate | date:"yyyy/MM/dd HH:mm:ss" }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Operation">
        <mat-header-cell *matHeaderCellDef [ngClass]="'operationCell'">Operation</mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'operationCell'">
          <ng-container *ngIf="user.UserStatus === 'UNCONFIRMED'"><button (click)="Approve(user)" id="approve"
            mat-raised-button color="primary">承認</button></ng-container>
          <ng-container *ngIf="user.UserStatus === 'CONFIRMED'"><button id="approve-disable" class="btn btn-primary"
            mat-raised-button color="disabled" disabled>承認</button></ng-container>
          <ng-container *ngIf="user.Enabled == true"><button (click)="Disable(user)" id="disabled"
            mat-raised-button color="accent">無効化</button></ng-container>
          <ng-container *ngIf="user.Enabled == false"><button (click)="Enable(user)" id="enable"
            mat-raised-button color="primary">有効化</button></ng-container>
      
          <button (click)="Delete(user, i)" id="enable"  mat-raised-button color="warn">削除</button>
          <button (click)="GroupChange(user.Groups)"  mat-raised-button color="primary">グループ変更</button>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
    </mat-table>
  </div>
</div>